@font-face {
  font-family: "GTARegular";
  src: url("./fonts/GTARegular/GTARegular.eot");
  src: url("./fonts/GTARegular/GTARegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/GTARegular/GTARegular.woff") format("woff"),
  url("./fonts/GTARegular/GTARegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  font-family:  "GTARegular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}
body {
  background-image: url('https://cdn.pixabay.com/photo/2022/09/20/19/13/waterfall-7468593_1280.jpg');
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  width: 937px;
}
.Content-wrapper {
  display: block;
}
.Profile-main {
  display: flex;
}